/*  pesquisa pacientes */
form#pesquisarMicroarea{

    padding: 10px 200px 05px 200px;
}
#pesquisarNumero{

    transform: translateX(25%);
    margin-left: -10%;
}
.form-group{

    color: #5c5c5c;
    font-weight: bold;

}
.form-group a{

    list-style-type: none;
    padding: 0px 5px 10px 10px;
}

.input-group{

    margin: 20px auto 0px 20px;

}
.input-group #addMicroarea{

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color:#fff;
    margin-left: 30px;
}
.input-group #listarMicroareas{

    margin: 0px 0px 0px 160px;
    width: 260px;
    border:none;
    color:gray;
}
.input-group button{

    margin: 5px auto 0px 25%;
    width: 300px;
}



/* fieldset e legend  */
fieldset{

    background-color: #fff;
    border-radius: 5px;
}
.legend{

    width: auto;
}



/*  caixa que contém os dados vindos do banco */
#box{

    background-color:#fff;
    padding:0px 100px 0px 300px;
    display: flex;
    border: solid #e9e9e9;
    border-width: 0.5px;
    border-radius: 5px;
    width: 1000px;
    margin: 0px auto 20px auto;
}


/* retirando o bold dos dados */
span{


    font-weight: normal;

}

/*  destacando o nome das vacinas */
#campoDestaque{

    font-size: 30px;
}

/* mexendo com os campos */
#camposDaDireita{

    margin: 20px 0px 0px 100px;
}



/* mostra o nome da busca */
#buscando_por{
    color:#5c5c5c;
    margin-top: 0px;
    font-weight: bold;
    display: inline;
    font-size: 20px;
}


/* tamanho dos ícones ion-icon  */
#icons{
    font-size: 20px;
}


.btn-editar{

    border: none;
    color: #28a745;

}
.btn-editar:hover{
    color: #fff;
    background-color: #28a745;
}
.btn-deletar{

    color: #dc3545;
    border: none;
    background-color: #fff; /*ver porque precisei colocar o bgc ,dando erro */
}
.btn-deletar:hover{
    color: #fff;
    background-color: #dc3545;
}



