/*  pesquisa pacientes */
form#search{

    padding: 10px 200px 05px 200px;
}
.form-group{

    color: #5c5c5c;
    font-weight: bold;

}
.form-group a{

    list-style-type: none;
    padding: 0px 5px 10px 10px;
}
.input-group{

    margin: 20px auto 0px 20px;

}

/*.input-group #listarPacientes{

    margin: 0px 0px 0px 0px;
    width: 260px;
    border:none;
    color:gray;

}*/
.input-group button{

    margin: 5px auto 0px 30%;
    width: 300px;
}
.pesquisarCpf,.listar{

    margin: 5px auto 0px 20%;
    width: 500px;
}


/* fieldset e legend  */
fieldset{

    background-color: #fff;
    border-radius: 5px;
}
.legend{

    width: auto;
}



/*  caixa que contém os dados vindos do banco */
#box{

    background-color:#fff;
    padding:0px 100px 0px 400px;
    border: solid #e9e9e9;
    border-width: 0.5px;
    border-radius: 5px;
    width: 1000px;
    margin: 0px auto 50px auto;

}
#box2{

    background-color:#fff;
    padding:0px 100px 0px 200px;
    border: solid #e9e9e9;
    border-width: 0.5px;
    border-radius: 5px;
    width: 1000px;
    margin: 0px auto 50px auto;
}

/* retirando o bold dos dados */
span{


    font-weight: normal;

}

/*  destacando o nome dos pacientes */
#campoDestaque{

    font-size: 30px;
}


/* tamanho dos ícones ion-icon  */
#icons{
    font-size: 20px;
}


/*  botões deletar e editar  */
#btnDeletar{

    margin: 8px 0px 0px 100px;
    border: none;
}
#btnEditar{

    margin: 15px 0px 0px 100px;
    border: none;
}
