/*  pesquisa pacientes */
form#search{

    padding: 10px 200px 05px 200px;
}
.form-group{

    color: #5c5c5c;
    font-weight: bold;

}
.form-check{

    color: gray;
    margin-left: 30px;
}



.input-group{

    margin: 20px auto 0px 20px;

}

.input-group #listarPacientes{

    margin: 0px 0px 0px 0px;
    width: 260px;
    border:none;
    color:gray;

}

.input-group button{

    margin: 5px auto 0px 25%;
    width: 300px;
}

/* fieldset e legend */
fieldset{

    background-color: #fff;
    border-radius: 5px;
}
fieldset#checkbox{

    margin-left: 30px;
    width: 230px;
}
.legend{

    width: auto;
}
